<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/tool.css">
    <script src="/age.js"></script>     
</head>
<body class="overflow-hidden bg-gray-100">

    <div class="absolute inset-0 z-0">
        <img src="./images/taxpic5.jpg" alt="Background Image" class="w-full h-full object-cover filter blur-sm">
    </div>

    
    <div class="absolute inset-0 z-10 bg-black opacity-20"></div>

 
    <div class="relative z-20 flex  h-screen">
        <div class="text-center bg-white bg-opacity-90 px-10 py-8 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">WELCOME <%=user.name%></h1>
            <a href="/home" class="text-blue-500 hover:text-blue-700 font-medium px-4 py-2 bg-gray-100 hover:bg-gray-200 rounded-lg shadow">Back</a>
        </div>
        <div>
            <form action="">
                
            </form>
        </div>
    </div>

</body>
</html>
