<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tool.css">    
</head>
<body>

    <div class="bg">
        <img src="./images/taxpic5.jpg">
    </div>

    <div class="shadow"></div>

    <div class="main">
        <header>
            <h1>WELCOME <span><%= user.name %></span></h1>
        </header>
        <div class="forms">
            <div class="names">
                <label for="check1">
                    <span>
                        <a href="#">Income details</a>
                    
                    </span>
                    
                </label>
                <input type="checkbox" id="check1">
                <label for="check2">
                    <span><a href="#">Deduction</a></span>
                </label>
                <input type="checkbox" id="check2">
                
                
            </div>
        </div>
    </div>
</body>
</html>
