*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}




.main {
    z-index: 20;
    overflow-x: hidden; 

}


.main header {
    height: 8rem;
    font-family: "Montserrat", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .forms {
    background-color: white;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    width:80vw;
    height: 70vh;
    justify-self: center;
    border: black solid 1px;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 30px black;
    overflow: scroll;
    overflow-x: hidden; 


}
.sugg {
    margin: 3rem 0 0 0;
    /* display: none; */
}

.sugg .hide {
    display: none;
}

.suggestions{
    position: relative;
    top: 1rem; 
    text-decoration: underline;
}
.suggestions:hover {
    color: rgb(10, 203, 10);
    font-weight: 500;
    transform: scale(1.1);
}

.sugg ul li {
    height: 4rem;
    display: flex;
    align-items: center;
}