*{
    margin: 0;
    padding: 0;
}

body{

   
    overflow-x: hidden;
     overflow-y: hidden;
    
    
}




.bg img{
    height: 120vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10; 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.shadow {
    height: 120vh;
    width: 100vw;
    z-index: -5;
    background-color: rgba(0, 0, 0,0.3);
    position: absolute;
    /* overflow-y: scroll; */
    overflow-x: hidden; 

}

.main {
    /* background-color: white; */
    z-index: 20;
    /* background-color: rgba(255, 255, 255,0.7); */
    /* overflow: scroll; */
    /* overflow-y: hidden; */
    overflow-x: hidden; 

}
/* ----------------------------------------------------------------- */

.main header {
    height: 8rem;
    /* background-color: rgba(124,135,137,0.5); */
    /* background-color: rgba(255, 255, 255,0.8); */
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container {
    display: inline-block;
    display: grid;
    justify-content: center;
    /* text-align: center; */
}

.container h1{
    /* display: inline-block; */
    font-size: 2rem;
    /* text-align: center; */
    font-weight: 500;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40,end) 0.2s forwards;

}

.container h2{
    font-size: 0.8rem;
    font-weight: 700;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40,end) 2.5s forwards,blinking 1s 10  4.5s alternate-reverse;
}


@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blinking {
    50%{
        color: transparent;
    }
}


/* --------------------------------------------- */
.main .forms {
    background-color: rgba(255, 255, 255,1);
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    width: 80vw;
    height: 70vh;
    justify-self: center;
    border: black solid 1px;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 30px black;
    overflow: scroll;
    overflow-x: hidden; 
}





/* @media(max-width : 1140px){
    .main .forms .names {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .main .forms .names label span {
        padding: 0.5rem 0 0.5rem 0;
        width: 100%;
        text-align: center;
        border-radius: 0.5rem;
    }

    .main .forms .names label span:hover {
        border: rgb(31,90,111) solid 2.5px;
        color: rgb(31,90,111) ;
        
    }
} */

.main .forms .names {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    
    background-color: white;
    font-size: 1.7rem;
    font-family: "Montserrat", serif;
}

.main .forms .names label{
    padding: 0.5rem 0.9rem ;
    border-radius: 0.5rem;
}

.main .forms .names label:hover {
    border: rgb(31,90,111) solid 1px;
}

.main .forms form .hide {
    display: none;
}

.main .forms .names input {
    display: none;
}

/* .main .forms .names #check1:checked .main .forms .names .check1 {
    background-color: rgba(31,90,111,0.6);
} */








/* .main .forms .names a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Montserrat", serif;
    font-weight: 400;
} */

.main header span {
    color: rgb(31,90,111);
}

/* ---------------------------------------- */


.main .forms .details{
    display: grid;
    /* justify-content: center; */
    margin-top: 2rem;
}

.main .forms .details .input{
    display: flex;
    justify-content: center;
}

.main .forms .details h2 {
    height: 2.5rem;
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
}



.main .forms .details .input input{
    height: 2.5rem;
    width: 70%;
    border-radius: 0.5rem;
    border: black solid 1px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    outline: none;

}

.main .forms .details .input input:focus{
    height: 2.5rem;
    width: 70%;
    border-radius: 0.5rem;
    border: black solid 1px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    outline: 2px double rgba(24, 84, 106, 0.762); 


}

 .forms button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
     margin-left: auto;
      margin-right: auto;
    background-color: rgba(37, 105, 131, 0.795);
}

 .forms button:hover{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
     margin-left: auto;
      margin-right: auto;
    background-color: rgba(18, 62, 78, 0.871);
}


/* ----------------------------------------- */
.deduction .inner_check {
    width: 100%;
    background-color: yellow;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    /* padding-inline: ; */
}

.deduction .inner_check span{
    width: 100%;
    text-align: center;
    height: 2.5rem;
    padding-top: 0.3rem;
}